@import "normalize.css";

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-size: 7em;
}

.trapezoid {
    transform: perspective(600px) rotateX(45deg) scale(1.4, 1.4);
}

/*parent*/
#movies {
    display: -webkit-flex;
    display: flex;
    /*min-height: 100vh;*/
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    /*border: 10px solid black;*/
}

/*child*/
.card {
    /*width:calc(33.33333333% - 20px);*/
    padding: 10px;
    border: 3px solid #fff;
    background-color: #f1c40f;
    /*border-radius: 10px;*/
    cursor: pointer;
}
